venv/
.venv/

pycache/
*.py[cod]
__pycache__/
.vscode/

Build and distribution files
dist/
build/
*.egg-info/

Operating System files
.DS_Store
Thumbs.db

.env

# Ignore logs and runtime files
*.log
celerybeat-schedule*
celerybeat.pid

# Ignore test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/

# Ignore example and script outputs
examples/*.out
scripts/*.out

# Ignore Jupyter and notebook checkpoints
.ipynb_checkpoints/


examples/
scripts/
